In [2]:
import pandas as pd 
import numpy as np

In [3]:
pd.options.display.max_rows = 100

In [4]:
HousePriceDF = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Aimes-Iowa-ML\\Francesco\\Ames_HousePrice.csv")

In [5]:
HousePriceDF=HousePriceDF.drop(['Alley','Fence','MiscFeature','PoolQC'],axis =1 )

In [6]:
HousePriceDF['LotFrontage'] = HousePriceDF['LotFrontage'].fillna(HousePriceDF.groupby('Neighborhood')['LotFrontage'].transform('mean'))

In [7]:
HousePriceDF.head()

,Unnamed: 0,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,909176150,856,126000,30,RL,58.769231,7890,Pave,Reg,...,0,0,0,166,0,0,3,2010,WD,Normal
1,2,905476230,1049,139500,120,RL,42.000000,4235,Pave,Reg,...,105,0,0,0,0,0,2,2009,WD,Normal
2,3,911128020,1001,124900,30,C (all),60.000000,6060,Pave,Reg,...,0,42,86,0,0,0,11,2007,WD,Normal
3,4,535377150,1039,114000,70,RL,80.000000,8146,Pave,Reg,...,0,168,0,111,0,0,5,2009,WD,Normal
4,5,534177230,1665,227000,60,RL,70.000000,8400,Pave,Reg,...,45,0,0,0,0,0,11,2009,WD,Normal

In [8]:
HousePriceDF.loc[HousePriceDF["Fireplaces"] == 0, "FireplaceQu"] = np.nan

In [9]:
HousePriceDF["FireplaceQu"].isna().sum()

1241

In [10]:
HousePriceDF["FireplaceQu"]

0        Gd
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2575     Gd
2576     Gd
2577    NaN
2578     TA
2579     TA
Name: FireplaceQu, Length: 2580, dtype: object