In [40]:
import pandas as pd 
import numpy as np

In [41]:
pd.options.display.max_rows = 100

In [42]:
HousePriceDF = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Aimes-Iowa-ML\\Francesco\\Ames_HousePrice.csv")

In [46]:
HousePriceDF.shape

(2580, 82)

In [72]:
HousePriceDF.columns

Index(['Unnamed: 0', 'PID', 'GrLivArea', 'SalePrice', 'MSSubClass', 'MSZoning',
       'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',
       'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
       'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [44]:
House2 = pd.read_csv("Ames Real Estate Data.csv")

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/3844131884.py:1: DtypeWarning: Columns (36,40,81,87) have mixed types. Specify dtype option on import or set low_memory=False.
  House2 = pd.read_csv("Ames Real Estate Data.csv")

In [47]:
House2.shape

(22213, 91)

In [4]:
HousePriceDF=HousePriceDF.drop(['Alley','Fence','MiscFeature','PoolQC'],axis =1 )

In [5]:
HousePriceDF['LotFrontage'] = HousePriceDF['LotFrontage'].fillna(HousePriceDF.groupby('Neighborhood')['LotFrontage'].transform('mean'))

In [67]:
HousePriceDF.head()

,Unnamed: 0,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,909176150,856,126000,30,RL,58.769231,7890,Pave,Reg,...,0,0,0,166,0,0,3,2010,WD,Normal
1,2,905476230,1049,139500,120,RL,42.000000,4235,Pave,Reg,...,105,0,0,0,0,0,2,2009,WD,Normal
2,3,911128020,1001,124900,30,C (all),60.000000,6060,Pave,Reg,...,0,42,86,0,0,0,11,2007,WD,Normal
3,4,535377150,1039,114000,70,RL,80.000000,8146,Pave,Reg,...,0,168,0,111,0,0,5,2009,WD,Normal
4,5,534177230,1665,227000,60,RL,70.000000,8400,Pave,Reg,...,45,0,0,0,0,0,11,2009,WD,Normal

In [6]:
HousePriceDF.loc[HousePriceDF["Fireplaces"] == 0, "FireplaceQu"] = np.nan

In [7]:
HousePriceDF["FireplaceQu"].isna().sum()

1241

In [8]:
HousePriceDF["FireplaceQu"]

0        Gd
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2575     Gd
2576     Gd
2577    NaN
2578     TA
2579     TA
Name: FireplaceQu, Length: 2580, dtype: object

In [9]:
garage = pd.DataFrame(HousePriceDF, columns = ['GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea','GarageQual','GarageCond'])

In [10]:
garage.isna().sum()

GarageType      127
GarageYrBlt     129
GarageFinish    129
GarageCars        1
GarageArea        1
GarageQual      129
GarageCond      129
dtype: int64

In [11]:
garage[garage.isnull().any(axis=1)]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
17,NaN,NaN,NaN,0.0,0.0,NaN,NaN
22,NaN,NaN,NaN,0.0,0.0,NaN,NaN
44,NaN,NaN,NaN,0.0,0.0,NaN,NaN
48,NaN,NaN,NaN,0.0,0.0,NaN,NaN
50,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
2481,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2488,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2513,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2540,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2546,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [12]:
garage[garage.notnull().all(axis=1)]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
0,Detchd,1939.0,Unf,2.0,399.0,TA,TA
1,Attchd,1984.0,Fin,1.0,266.0,TA,TA
2,Detchd,1930.0,Unf,1.0,216.0,TA,Po
3,Detchd,1940.0,Unf,1.0,281.0,TA,TA
4,Attchd,2001.0,Fin,2.0,528.0,TA,TA
...,...,...,...,...,...,...,...
2575,Detchd,1916.0,Unf,1.0,192.0,Fa,Po
2576,Attchd,1955.0,Unf,2.0,452.0,TA,TA
2577,2Types,1949.0,Unf,3.0,871.0,TA,TA
2578,Attchd,2000.0,Fin,2.0,486.0,TA,TA
2579,Attchd,1993.0,RFn,2.0,471.0,TA,TA

In [13]:
garage.loc[(garage["GarageType"].notnull()) & garage["GarageYrBlt"].isna()]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
433,Detchd,NaN,NaN,NaN,NaN,NaN,NaN
531,Detchd,NaN,NaN,1.0,360.0,NaN,NaN

In [14]:
garage['GarageType'].loc[433] = "None"

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_19080/2144364223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  garage['GarageType'].loc[433] = "None"

In [15]:
garage['GarageType'].loc[433]

'None'

In [16]:
garage["GarageYrBlt"].loc[531] = 1983

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_19080/1194633844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  garage["GarageYrBlt"].loc[531] = 1983

In [17]:
garage["GarageYrBlt"].loc[531]

1983.0

In [18]:
garage["GarageFinish"].loc[531] = "Unf"

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_19080/247250491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  garage["GarageFinish"].loc[531] = "Unf"

In [19]:
garage["GarageFinish"].loc[531]

'Unf'

In [20]:
garage["GarageQual"].loc[531] = "TA"

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_19080/1373889960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  garage["GarageQual"].loc[531] = "TA"

In [21]:
garage["GarageCond"].loc[531] = "TA"

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_19080/879288736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  garage["GarageCond"].loc[531] = "TA"

In [22]:
garage.loc[531]

GarageType      Detchd
GarageYrBlt     1983.0
GarageFinish       Unf
GarageCars         1.0
GarageArea       360.0
GarageQual          TA
GarageCond          TA
Name: 531, dtype: object

In [23]:
garage.isna().sum()

GarageType      127
GarageYrBlt     128
GarageFinish    128
GarageCars        1
GarageArea        1
GarageQual      128
GarageCond      128
dtype: int64

In [24]:
garage.fillna("None", inplace = True)

In [25]:
garage.isna().sum()

GarageType      0
GarageYrBlt     0
GarageFinish    0
GarageCars      0
GarageArea      0
GarageQual      0
GarageCond      0
dtype: int64

In [26]:
garage.head()

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
0,Detchd,1939.0,Unf,2.0,399.0,TA,TA
1,Attchd,1984.0,Fin,1.0,266.0,TA,TA
2,Detchd,1930.0,Unf,1.0,216.0,TA,Po
3,Detchd,1940.0,Unf,1.0,281.0,TA,TA
4,Attchd,2001.0,Fin,2.0,528.0,TA,TA

In [27]:
garage.value_counts()

GarageType  GarageYrBlt  GarageFinish  GarageCars  GarageArea  GarageQual  GarageCond
None        None         None          0.0         0.0         None        None          127
Detchd      1973.0       Unf           1.0         264.0       TA          TA              8
            2000.0       Unf           2.0         440.0       TA          TA              7
Attchd      2003.0       Fin           2.0         420.0       TA          TA              7
Detchd      1939.0       Unf           1.0         240.0       TA          TA              7
                                                                                        ...
Attchd      1989.0       Unf           2.0         438.0       TA          TA              1
                                       1.0         423.0       TA          TA              1
                         RFn           2.0         628.0       TA          TA              1
                                                   506.0       TA          TA              1
None        None         None          None        None        None        None            1
Length: 2183, dtype: int64

In [91]:
HousePriceDF.loc[HousePriceDF['MSSubClass']==120, ['LotFrontage']].mean()

LotFrontage    46.370279
dtype: float64

In [28]:
garage.loc[garage["GarageCars"] == "None"]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
433,None,None,None,None,None,None,None

In [29]:
garage["GarageCars"].loc[433] = 0.0

In [ ]:
garage["GarageYrBlt"]

In [6]:
import pandas as pd 
import numpy as np 
pd.options.display.max_rows = 100

HousePriceDF = pd.read_csv("C:\\Users\\Francesco\\Desktop\\NYCDSA\\Aimes-Iowa-ML\\Francesco\\Ames_HousePrice.csv")


# drop columns with over 98% missing values 
HousePriceDF=HousePriceDF.drop(['Alley','Fence','MiscFeature','PoolQC'],axis =1 )

# impute frontage based on mean for the neighborhood 
HousePriceDF['LotFrontage'] = HousePriceDF['LotFrontage'].fillna(HousePriceDF.groupby('Neighborhood')['LotFrontage'].transform('mean'))
HousePriceDF.loc[HousePriceDF['MSSubClass']==120, ['LotFrontage']].mean()
HousePriceDF.loc[HousePriceDF['MSSubClass']==160, ['LotFrontage']].mean()
HousePriceDF.iloc[1204,6] = 29.0
lotrow = [109,683]
HousePriceDF.loc[lotrow,['LotFrontage']]  = 46.0

# change FireplaceQu to 'None' for non existent fireplaces 
HousePriceDF.loc[HousePriceDF["Fireplaces"] == 0, "FireplaceQu"] = 'None'


# cleaning up the Basement columns 
HousePriceDF['BsmtQual'][HousePriceDF.Foundation == 'Slab'] = "None"
HousePriceDF['BsmtExposure'][HousePriceDF.Foundation == 'Slab'] = "None"
HousePriceDF['BsmtCond'][HousePriceDF.Foundation == 'Slab'] = "None"
HousePriceDF['BsmtFinType1'][HousePriceDF.Foundation == 'Slab'] = "None"
HousePriceDF['BsmtFinType2'][HousePriceDF.Foundation == 'Slab'] = "None"
HousePriceDF.loc[(HousePriceDF['BsmtFinSF1']== 0),32:36] = "None"
HousePriceDF.iloc[2434,37] = 'Unf'
HousePriceDF.iloc[912,32:36] = "None"
HousePriceDF.iloc[912,32:36] = "None"
HousePriceDF.loc[(HousePriceDF['BsmtFinSF1']== 0),'BsmtFinType2' ] = "None"
HousePriceDF.iloc[912,37] = 'None'
HousePriceDF.iloc[912,36] = 0
HousePriceDF.iloc[912,36] = 0
HousePriceDF.iloc[912,38:41] = 0 

HousePriceDF.iloc[912,48:50] = 0

HousePriceDF.iloc[2308,48:50] = 0

HousePriceDF.iloc[2442,44] = 'SBrkr'

HousePriceDF.iloc[358,27:29] = 'None'
HousePriceDF.iloc[1355,27:29] = 'None'

# MasVnrType/Area cleaning 
HousePriceDF.loc[(HousePriceDF['Exterior2nd']== 'VinylSd' )&(HousePriceDF.MasVnrType.isna()==True), ['MasVnrType' ]] = 'None'
HousePriceDF.loc[(HousePriceDF['Exterior2nd']== 'VinylSd' )&(HousePriceDF.MasVnrType.isna()==True), ['MasVnrArea' ]] = 0
# Electrical cleaning
HousePriceDF.iloc[2442,44] = 'SBrkr'




# cleaning up the Garage columns 
HousePriceDF['GarageType'].iloc[433] = "None"

HousePriceDF['GarageCars'].iloc[433] = 0.0 	#maintain float

HousePriceDF['GarageArea'].iloc[433] = 0.0  #maintain float 

HousePriceDF["GarageYrBlt"].iloc[531] = 1983

HousePriceDF["GarageFinish"].iloc[531] = "Unf"

HousePriceDF["GarageQual"].iloc[531] = "TA"

HousePriceDF["GarageCond"].iloc[531] = "TA"


# replace emtpy GarageYrBlt with YearBuilt for missing garages to maintin float 
HousePriceDF['GarageYrBlt'].fillna(HousePriceDF['YearBuilt'], inplace=True)


# DO NOT UNCOMMENT THIS UNTIL SURE WE ARE DONE IMPUTING 
HousePriceDF.fillna('None', inplace=True)

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['BsmtQual'][HousePriceDF.Foundation == 'Slab'] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['BsmtExposure'][HousePriceDF.Foundation == 'Slab'] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['BsmtCond'][HousePriceDF.Foundation == 'Slab'] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['BsmtFinType1'][HousePriceDF.Foundation == 'Slab'] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['BsmtFinType2'][HousePriceDF.Foundation == 'Slab'] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:29: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  HousePriceDF.loc[(HousePriceDF['BsmtFinSF1']== 0),32:36] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['GarageType'].iloc[433] = "None"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['GarageCars'].iloc[433] = 0.0 	#maintain float
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF['GarageArea'].iloc[433] = 0.0  #maintain float
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF["GarageYrBlt"].iloc[531] = 1983
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF["GarageFinish"].iloc[531] = "Unf"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF["GarageQual"].iloc[531] = "TA"
C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/1358516312.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HousePriceDF["GarageCond"].iloc[531] = "TA"

In [2]:
HousePriceDF.head()

,Unnamed: 0,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,909176150,856,126000,30,RL,58.769231,7890,Pave,Reg,...,0,0,0,166,0,0,3,2010,WD,Normal
1,2,905476230,1049,139500,120,RL,42.000000,4235,Pave,Reg,...,105,0,0,0,0,0,2,2009,WD,Normal
2,3,911128020,1001,124900,30,C (all),60.000000,6060,Pave,Reg,...,0,42,86,0,0,0,11,2007,WD,Normal
3,4,535377150,1039,114000,70,RL,80.000000,8146,Pave,Reg,...,0,168,0,111,0,0,5,2009,WD,Normal
4,5,534177230,1665,227000,60,RL,70.000000,8400,Pave,Reg,...,45,0,0,0,0,0,11,2009,WD,Normal

In [4]:
House2 = pd.read_csv("Ames Real Estate Data.csv")

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_25380/3844131884.py:1: DtypeWarning: Columns (36,40,81,87) have mixed types. Specify dtype option on import or set low_memory=False.
  House2 = pd.read_csv("Ames Real Estate Data.csv")

In [5]:
House2.head()

,MapRefNo,GeoRefNo,Tier,Range,Prop_Addr,ZngCdPr,ZngCdSc,ZngOLPr,ZngOLSc,ClassPr_S,...,PA-Nmbr,PA-PreD,PA-Strt,PA-StSfx,PA-PostD,PA-UnTyp,PA-UntNo,Date,Source,NmbrBRs
0,520400001,520400001,0,0,4599 GEORGE W CARVER AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,...,4599.0,NaN,GEORGE W CARVER,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
1,520440010,520440010,0,0,4507 EVEREST AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,...,4507.0,NaN,EVEREST,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
2,520440020,520440020,0,0,4513 EVEREST AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,...,4513.0,NaN,EVEREST,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
3,520445001,520445001,0,0,3449 BARCELOS ST,FS-RL,NaN,NaN,NaN,RESIDENTIAL,...,3449.0,NaN,BARCELOS,ST,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
4,520445010,520445010,0,0,4506 EVEREST AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,...,4506.0,NaN,EVEREST,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN

In [11]:
House2.shape

(22213, 91)

In [7]:
House2.isna().sum()

MapRefNo            0
GeoRefNo            0
Tier                0
Range               0
Prop_Addr          20
ZngCdPr           106
ZngCdSc         22187
ZngOLPr         20243
ZngOLSc         22060
ClassPr_S           0
ClassSc_S           0
Legal_Pr            0
SchD_S              0
TxD_S               0
MA_Ownr1            0
MA_Ownr2        19337
MA_Line1           14
MA_Line2        22213
MA_City            14
MA_State           14
MA_Zip1            14
MA_Zip2          8890
Rcrd_Yr          1907
Rcrd_Mo          1907
Inst1_No         1857
Inst1_Yr         1907
Inst1_Mo         1907
Inst1TPr         2677
LndAc_S             0
ImpAc_S             0
OthAc_S             0
TtlVal_AsrYr        0
ValType             0
X1TPr_D         21519
X1TSc_D         21519
X2TPr_D         22212
X2TSc_D         22212
X1TPr_S         21522
X1TSc_S         21522
X2TPr_S         22212
X2TSc_S         22212
LndAcX1S            0
ImpAcX1S            0
ImpAcX2S            0
HSTtl_D         13024
MilVal_D        13024
HSTtl_S         12966
MilVal_S        12966
AcreX_S1            0
AcreGr              0
AcreNt_S            0
Neighborhood     4308
LotArea          4308
ParType          4308
BldgNo_S            0
DwlgNo_S            0
BldgType         4308
YrBuilt          4308
HouseStyle       4308
Foundation       4308
RoofMatl         4308
Ext1             4308
Ext2             4308
MasVnrType       4308
Heating          4308
Central Air      4308
GLA              4308
TtlBsmtSF        4308
TotRmsAbvGrd     4308
Fireplaces       4308
PoolArea         4308
GarageType       4308
GarYrBlt         4308
Cars             4308
GarageArea       4308
YrSold_YYYY     19247
MoSold_MM       19247
SalePrice       19247
SaleType        19247
SaleCond        19247
ParclRel            0
PA-Nmbr            20
PA-PreD         20437
PA-Strt            20
PA-StSfx           98
PA-PostD        22213
PA-UnTyp        14468
PA-UntNo        14096
Date                0
Source              0
NmbrBRs          4308
dtype: int64

In [21]:
House2['MapRefNo'].equals(House2['GeoRefNo'])

False

In [ ]:
df[df['H'].isnull()]

In [31]:
House2[House2["Prop_Addr"].isnull()]

,MapRefNo,GeoRefNo,Tier,Range,Prop_Addr,ZngCdPr,ZngCdSc,ZngOLPr,ZngOLSc,ClassPr_S,...,PA-Nmbr,PA-PreD,PA-Strt,PA-StSfx,PA-PostD,PA-UnTyp,PA-UntNo,Date,Source,NmbrBRs
4769,533210020,533210020,0,0,NaN,F-VR,NaN,NaN,NaN,RESIDENTIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,2.0
7686,594010010,594010010,0,0,NaN,NaN,NaN,NaN,NaN,COMMERCIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
11657,906910100,906910100,0,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
11658,906930100,906930100,0,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
18094,911350045,911350045,0,0,NaN,RH,HOC,O-E,NaN,COMMERCIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
19053,915930100,915930100,0,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20031,921200125,921200125,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20032,921200130,921200130,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20035,921200305,921200305,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20036,921200320,921200320,0,0,NaN,A,NaN,NaN,NaN,RESIDENTIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20039,921200450,921200450,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20240,921400110,921400110,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20779,923900100,923900100,0,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20780,923900110,923900110,0,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20781,923900120,923900120,0,0,NaN,NaN,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20810,994010040,994010040,0,0,NaN,NaN,NaN,NaN,NaN,COMMERCIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
20818,1004300500,1004300500,0,0,NaN,A,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
21806,916480205,916480205,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
21915,921200260,921200260,0,0,NaN,A,NaN,NaN,NaN,AGRICULTURE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
22129,1005200500,1005200500,0,0,NaN,A,NaN,NaN,NaN,EXEMPT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN

In [25]:
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent = "MyGeocoder")
location = locator.geocode(House2["Prop_Addr"])
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))


loc = Nominatim(user_agent="GetLoc")
 
# entering the location name
getLoc = loc.geocode("Gosainganj Lucknow")
 
# printing address
print(getLoc.address)
 
# printing latitude and longitude
print("Latitude = ", getLoc.latitude, "\n")
print("Longitude = ", getLoc.longitude)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [27]:
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent = "MyGeocoder")
location = locator.geocode(House2["Prop_Addr"])
print(location.latitude)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [35]:
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent = "MyGeocoder")
lat = []
long = []
for row in House2["Prop_Addr"]:
    addr = locator.geocode(row, timeout=10)
    if addr is None or addr == "NaN" or addr == "":
        lat.append(None)
        long.append(None)
    else:
        latitude = ad.latitude
        longitude = ad.longitude  
    
    lat.append(latitude)
    long.append(longitude)

House2['latitude'] = lat
House2['longitude'] = long

NameError: name 'latitude' is not defined

In [ ]:
import pandas
from geopy.geocoders import Nominatim

geolocator = Nominatim()
for index, item in df.iterrows():
    location = geolocator.geocode(item)
    df["Latitude"].append(location.latitude)
    df["Longitude"].append(location.longitude)

In [62]:
House2['SaleType'][98]

'WRDConv'

In [69]:
House2.loc[House2["YrSold_YYYY"] == 2008 ]

Empty DataFrame
Columns: [MapRefNo, GeoRefNo, Tier, Range, Prop_Addr, ZngCdPr, ZngCdSc, ZngOLPr, ZngOLSc, ClassPr_S, ClassSc_S, Legal_Pr, SchD_S, TxD_S, MA_Ownr1, MA_Ownr2, MA_Line1, MA_Line2, MA_City, MA_State, MA_Zip1, MA_Zip2, Rcrd_Yr, Rcrd_Mo, Inst1_No, Inst1_Yr, Inst1_Mo, Inst1TPr, LndAc_S, ImpAc_S, OthAc_S, TtlVal_AsrYr, ValType, X1TPr_D, X1TSc_D, X2TPr_D, X2TSc_D, X1TPr_S, X1TSc_S, X2TPr_S, X2TSc_S, LndAcX1S, ImpAcX1S, ImpAcX2S, HSTtl_D, MilVal_D, HSTtl_S, MilVal_S, AcreX_S1, AcreGr, AcreNt_S, Neighborhood, LotArea, ParType, BldgNo_S, DwlgNo_S, BldgType, YrBuilt, HouseStyle, Foundation, RoofMatl, Ext1, Ext2, MasVnrType, Heating, Central Air, GLA, TtlBsmtSF, TotRmsAbvGrd, Fireplaces, PoolArea, GarageType, GarYrBlt, Cars, GarageArea, YrSold_YYYY, MoSold_MM, SalePrice, SaleType, SaleCond, ParclRel, PA-Nmbr, PA-PreD, PA-Strt, PA-StSfx, PA-PostD, PA-UnTyp, PA-UntNo, Date, Source, NmbrBRs]
Index: []

[0 rows x 91 columns]

In [70]:
House2["YrSold_YYYY"].unique()

array([  nan, 2019., 2017., 2018., 2020.])

In [73]:
HousePriceDF["YrSold"].unique()

array([2010, 2009, 2007, 2008, 2006], dtype=int64)